.react-calendar {
    /* width: 295px; */
    max-width: 300px;
    max-height: 160px;
    background: rgb(251, 251, 251);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.75em;
    margin-left: 10px;
  }
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
    border: 1px solid rgb(180, 180, 180);
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    background-color: rgb(255, 255, 255);
  }
  .react-calendar__navigation button{
    width: 42px;
    background: none;
    color: black;
    font-size:smaller;
    height: 20px;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__month-view__weekdays {
    display:flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
    border: 1px solid grey;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.3em;
    border: 1px solid grey;
    background-color: #566D7E;
    color: white;
    position: relative;
    text-align: center;
    font-weight: bold;
  }
  .react-calendar__month-view__weekdays__weekday::after {
    content: none;
  }
  
  /* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
  } */
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }
  .react-calendar__tile {
    max-width: 100%;
    padding: 0.35em;
    background: none;
    text-align: center;
    font-size: 0.65em;
    font-weight: bold;
    background-color: #e6e6e6;
    color:#757575;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #6ba9ff;
  }
  .react-calendar__tile--now {
    background: #ffff76;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  .react-calendar__tile--hasActive {
    background: #76baff;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    background: #006edc;
    /* color: white; */
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #1087ff;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  .calendar-container{
    margin-top: 10px;
    border:1px solid black;
    display:"flex";
    flex-direction: row;
  }
  .react-calendar__month-view__days__day--weekend{
    color:red;
    font-weight: bold;
  }
  .available-date{
    color:orange;
    font-weight: bold;
    /* background-color: orange; */
  }
  .no-quota{
    color:rgb(0, 0, 0);
    font-weight: bold;
    background-color: grey;
  }
  .weekend-date{
    color:red;
    font-weight: bold;
  }
  .selected-date{
    color:#1087ff;
    background-color: #3080d0;
    font-weight: bold;
  }
  
  .disabled-date{
    color:darkgrey;
    background-color: green;
  }
  .sync-icon {
    color: white;
    cursor: pointer;
    margin-left: -8px;
  }
  .rotate {
    animation: rotate 2s linear;
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
  